@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px); }
  to {
    opacity: 1;
    transform: translateX(0px); } }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  font-family: 'Raleway', sans-serif; }
  @media (max-width: 1200px) {
    html {
      font-size: 53%; } }
  @media (max-width: 1000px) {
    html {
      font-size: 50%; } }

h2 {
  font-size: 8rem; }

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  position: fixed;
  transition: .5s;
  padding: 0 2rem; }
  @media (max-width: 480px) {
    .top {
      background-color: #000;
      color: #fff; } }
  .top__logo {
    font-family: 'Pacifico', cursive;
    font-size: 5rem; }

.burger {
  display: none; }
  @media (max-width: 480px) {
    .burger {
      display: block;
      cursor: pointer; } }

.burger div {
  width: 25px;
  height: 3px;
  margin: 5px;
  padding-right: 10px;
  background-color: #ff6033;
  transition: all .3s ease; }

.low {
  background-color: black;
  color: #fff;
  position: fixed;
  z-index: 2;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  transition: .5s;
  box-shadow: 5px 0 5px #000;
  font-size: 1rem; }

.navigation {
  font-size: 2rem;
  display: flex;
  justify-content: space-between;
  list-style-type: none; }
  @media (max-width: 480px) {
    .navigation {
      position: absolute;
      right: 0;
      height: 75vh;
      width: 50%;
      top: 7vh;
      background-color: black;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      transform: translateX(100%);
      transition: transform .5s ease-in; } }
  .navigation__element {
    display: block;
    min-width: 10rem;
    text-align: center; }
  .navigation__link {
    text-decoration: none;
    color: #000;
    padding: .8rem .3rem 0;
    margin: 0 .5rem;
    transition: .1s;
    display: block;
    position: relative; }
    @media (max-width: 480px) {
      .navigation__link {
        color: #fff; } }
    .navigation__link::before {
      position: absolute;
      top: 0;
      left: 0;
      content: "";
      background: #ff6033;
      height: 3px;
      width: 0%;
      transition: .5s ease-in-out; }
    .navigation__link:hover {
      font-weight: 700;
      color: "red"; }
      .navigation__link:hover::before {
        width: 100%; }

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px); }

.toggle .line2 {
  opacity: 0; }

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px); }

@media (max-width: 480px) {
  .navigation-active {
    transform: translateX(0%); } }

.active-link {
  font-weight: 700; }

.text {
  font-size: 2rem; }
  .text > :not(:first-child) {
    margin-top: 2.5rem; }
  .text__heading {
    font-size: 4rem;
    font-weight: 900; }
  .text__description p:not(:last-child) {
    margin-bottom: 2rem; }

.btn {
  width: 20rem;
  height: 5.5rem;
  border-radius: 0;
  cursor: pointer;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
  font-size: 2rem;
  color: #fff;
  position: relative;
  z-index: 2;
  overflow: hidden; }
  .btn::before {
    transition: .5s;
    content: "";
    width: 100%;
    height: 0%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 0 0 50% 50%; }
  .btn--header {
    background-color: #ff6033;
    border: 1px solid #ff6033;
    transition: .2s;
    z-index: 1; }
    .btn--header:hover {
      color: #ff6033; }
      .btn--header:hover::before {
        background-color: #fff;
        height: 180%; }
  .btn--subscribe {
    background-color: #96b92c;
    border: 1px solid #96b92c;
    transition: .2s;
    z-index: 1; }
    .btn--subscribe:hover {
      color: #96b92c; }
      .btn--subscribe:hover::before {
        background-color: #fff;
        height: 180%; }
  .btn--gallery {
    background-color: #5585a2;
    border: 1px solid #5585a2;
    transition: .2s;
    z-index: 1; }
    .btn--gallery:hover {
      color: #5585a2; }
      .btn--gallery:hover::before {
        background-color: #ffe92f;
        height: 180%; }
  .btn--blog {
    background-color: #f72b3b;
    border: 1px solid #f72b3b;
    transition: .2s;
    z-index: 1; }
    .btn--blog:hover {
      color: #fff; }
      .btn--blog:hover::before {
        background-color: #f95c68;
        height: 180%; }
  .btn--contact {
    background-color: #355b82;
    border: 1px solid #355b82;
    transition: .2s;
    z-index: 1; }
    .btn--contact:hover {
      color: #fff; }
      .btn--contact:hover::before {
        background-color: rgba(0, 178, 178, 0.5);
        height: 180%; }

.fas {
  font-size: 5rem; }

.bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  width: 40rem;
  padding: 2.5rem;
  position: relative;
  box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.3); }
  .bar:not(:last-child) {
    margin-bottom: 2rem; }
  .bar__icon {
    width: 20%;
    text-align: end; }
    .bar__icon::before {
      content: "";
      position: absolute;
      top: 0;
      left: 30rem;
      height: 100%;
      width: .2rem;
      background-color: rgba(0, 0, 0, 0.3); }
  .bar__text {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    margin: 0 auto; }

.album {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
  margin-top: 2rem; }
  .album--row {
    display: flex;
    max-width: 120rem; }
    @media (max-width: 1200px) {
      .album--row {
        display: block; } }
  .album--col {
    display: flex;
    flex-direction: column; }
  .album__img-wrapper {
    display: flex;
    overflow: hidden;
    background-color: #00b2b2;
    margin: 1rem;
    height: auto; }
  .album__img {
    box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.3);
    overflow: hidden;
    vertical-align: middle;
    width: 100%;
    transition: .2s;
    cursor: pointer;
    transition: transform 3333ms; }
    .album__img:hover {
      opacity: .9; }

.input {
  width: 75%;
  display: flex;
  align-items: stretch; }
  .input input {
    border: 1px solid rgba(0, 0, 0, 0.5);
    padding: .5rem;
    flex: 2;
    height: 5.5rem;
    margin-right: 2rem; }

.contact input::placeholder {
  color: #fff;
  opacity: 1; }

.post {
  width: 30%;
  max-height: 31rem;
  overflow: hidden;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  display: flex;
  cursor: pointer; }
  @media (max-width: 1200px) {
    .post {
      width: 36rem;
      margin-top: 2rem; } }
  .post::before {
    content: "";
    position: absolute;
    display: block;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 43%, rgba(0, 0, 0, 0.8) 92%, rgba(0, 0, 0, 0.8) 100%);
    top: 0;
    left: 0;
    height: 100%;
    width: 100%; }
  .post__img {
    align-self: flex-end; }
  .post__date {
    position: absolute;
    font-size: 2.5rem;
    font-weight: 700;
    background: rgba(0, 0, 0, 0.5);
    width: 5.5rem;
    height: 6rem;
    top: 10%;
    left: 10%;
    border-radius: 5px; }
  .post__about {
    position: absolute;
    bottom: 5%;
    left: 5%;
    text-align: left;
    transition: .2s; }
    .post__about:hover {
      bottom: 15%; }
    .post__about--title {
      font-size: 2rem;
      font-weight: 700;
      margin-bottom: 2rem;
      display: block; }
    .post__about--author {
      font-size: 1.3rem;
      display: block; }

.form {
  width: 45%; }
  @media (max-width: 600px) {
    .form {
      width: 95%; } }
  .form__label {
    display: none; }
  .form__input {
    border-right: 0;
    border-top: 0;
    border-bottom: 0;
    border-left: 4px solid rgba(0, 0, 0, 0);
    width: 90%;
    height: 4rem;
    padding: 1rem;
    background-color: rgba(0, 178, 178, 0.4);
    transition: .5s;
    margin-top: 1rem;
    color: #fff; }
    .form__input:last-child {
      height: 15rem; }
    .form__input:focus {
      border-left: 4px solid #355b82;
      background-color: #00b2b2;
      font-weight: 700; }

address {
  width: 45%; }

.adres {
  display: block;
  font-size: 2rem;
  font-style: normal; }
  .adres:nth-child(odd) {
    font-weight: 700;
    text-transform: uppercase; }

textarea {
  font-family: 'Raleway', sans-serif;
  resize: none; }

.contact .text {
  text-align: center;
  width: 50%;
  margin: 0 auto 4rem; }
  @media (max-width: 1200px) {
    .contact .text {
      width: 98%; } }

.logo {
  font-size: 3rem;
  font-family: 'Pacifico', cursive; }

.show-gallery {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: 99;
  top: 0; }

.show-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.5);
  transition: all 200ms; }

.large-image {
  transition: all 200ms; }

.tiny-image {
  transform: translate(-50%, -50%) scale(0.00001);
  transition: transform 330ms; }

.back-to-top {
  transition: opacity 500ms;
  height: 5rem;
  width: 5rem;
  border: 1px solid #ff3800;
  border-radius: 50%;
  background-color: rgba(255, 96, 51, 0);
  position: fixed;
  bottom: 10%;
  right: 5%;
  transform: rotate(270deg);
  cursor: pointer;
  opacity: 0; }
  .back-to-top::after {
    content: "\27A3";
    position: absolute;
    transform: translate(50%, 20%);
    color: #ff3800;
    font-size: 2.5rem; }

.button-on {
  transition: opacity 500ms;
  opacity: 1; }

.frame {
  width: 100%;
  height: 0%;
  position: relative;
  top: 50%; }

.counter {
  font-size: 1rem;
  position: absolute;
  bottom: 0;
  left: 50%;
  color: orangered; }

.header {
  display: flex;
  flex-direction: column;
  height: 75vh;
  align-items: center;
  background-image: linear-gradient(to right, white 0%, white 8%, rgba(255, 255, 255, 0) 53%, rgba(255, 255, 255, 0) 100%), url(img/bg_header_converted.jpg);
  background-size: cover;
  background-position: 0% 75%;
  padding: 0 20rem; }
  @media (max-width: 1200px) {
    .header {
      padding: 0rem 1rem 5rem; } }
  @media (max-width: 900px) {
    .header {
      height: auto; } }
  .header__container {
    max-width: 120rem;
    display: flex;
    margin-top: 15rem; }

.about {
  background: url(img/bg_about.jpg) 25% 50% no-repeat, #00b2b2;
  padding: 10rem 20rem;
  display: flex;
  justify-content: center;
  color: #fff; }
  @media (max-width: 1800px) {
    .about {
      background-position: -10rem;
      padding: 5rem 1rem; } }
  @media (max-width: 1200px) {
    .about {
      background-position: -20rem;
      padding: 5rem 1rem; } }
  @media (max-width: 1000px) {
    .about {
      background-position: -30rem;
      padding: 5rem 1rem; } }
  @media (max-width: 900px) {
    .about {
      background-position: -30rem;
      padding: 5rem 1rem; } }
  .about__container {
    width: 120rem;
    display: flex;
    align-items: center;
    justify-content: flex-end; }
  @media (max-width: 900px) {
    .about .wrapper {
      background-color: rgba(0, 0, 0, 0.5);
      padding: 5rem; } }

.services {
  background-color: #70bfff;
  padding: 10rem 20rem;
  display: flex;
  justify-content: center; }
  @media (max-width: 900px) {
    .services {
      padding: 5rem 1rem; } }
  @media (max-width: 900px) {
    .services__box {
      order: 2; } }
  .services__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1 120rem;
    max-width: 120rem; }
    @media (max-width: 900px) {
      .services__container {
        flex-direction: column; } }
  .services__title {
    background: url(img/bg_services.jpg) no-repeat;
    max-width: 55rem;
    height: 55rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff; }
  .services h2 {
    text-shadow: 4px 2px #000; }

.gallery {
  background-color: #ffe92f;
  padding: 10rem 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: auto; }
  @media (max-width: 900px) {
    .gallery {
      padding: 5rem 1rem; } }
  .gallery .text {
    max-width: 50rem;
    text-align: center; }
  .gallery__container {
    text-align: center; }

.subscribe {
  padding: 10rem 20rem;
  display: flex;
  justify-content: center;
  background: url(img/bg_subscirbe.jpg) no-repeat center; }
  @media (max-width: 1200px) {
    .subscribe {
      padding: 5rem 1rem; } }
  .subscribe__container {
    flex: 0 120rem; }
  .subscribe p {
    max-width: 60rem; }

.blog {
  padding: 10rem 20rem;
  display: flex;
  justify-content: center;
  color: #fff;
  background-color: #b07cf7; }
  @media (max-width: 1200px) {
    .blog {
      padding: 1rem; } }
  .blog__container {
    max-width: 120rem;
    text-align: center; }
  .blog__posts {
    display: flex;
    justify-content: space-between;
    margin: 2rem 0; }
    @media (max-width: 900px) {
      .blog__posts {
        flex-direction: column;
        align-items: center; } }

.contact {
  padding: 10rem 20rem;
  display: flex;
  justify-content: center;
  background: url(img/bg_contact.jpg) center/cover no-repeat; }
  @media (max-width: 1200px) {
    .contact {
      padding: 1rem; } }
  .contact__container {
    max-width: 120rem; }
    @media (max-width: 600px) {
      .contact__container {
        text-align: center; } }
  .contact__panel {
    margin-bottom: 5rem;
    display: flex;
    justify-content: space-between; }
    @media (max-width: 1200px) {
      .contact__panel {
        justify-content: center; } }
    @media (max-width: 600px) {
      .contact__panel {
        flex-direction: column;
        align-items: center; } }

.footer {
  background-color: #262626;
  color: #fff;
  display: flex;
  justify-content: center;
  padding: 10rem 20rem;
  font-size: 2rem; }
  @media (max-width: 1200px) {
    .footer {
      padding: 5rem 1rem; } }
  .footer__container {
    flex: 0 120rem;
    display: inherit;
    justify-content: space-between; }
  .footer__element {
    width: 30%;
    text-align: center;
    margin: auto 0; }

.wrapper {
  flex: 0 1 60rem; }
