* {
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}
body {
    //margin: 0 20rem;
}
h2 {
    font-size: 8rem;
}

// Variables
$black: #000;
$white: #fff;
$orange: #ff6033;
$color-about: #00b2b2;

$color-services: #70bfff;