
//MEDIA QUERY MANAGER WITH MIXINS

@mixin respond-phone {
    @media screen {}
}

@mixin respond($breakpoint) {
    @if $breakpoint==phone {
        @media (max-width: 600px) {
            @content};
    }

    @if $breakpoint==phone {
        @media (max-width: 600px) {@content};
    }
    @if $breakpoint==tab-port {
        @media (max-width: 900px) {@content};
    }
        @if $breakpoint==tab-mid {
        @media (max-width: 1000px) {@content};
    }
    @if $breakpoint == tab-land {
        @media (max-width: 1200px) {@content};
    }    
    @if $breakpoint==big-desktop {
        @media (min-width: 1800px) {@content};
    }
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Raleway', sans-serif;

    @include respond(tab-land) {
        font-size: 53%;            
    }
        @include respond(tab-mid) {
        font-size: 50%;            
    }
}

body {
    //margin: 0 20rem;
}

h2 {
    font-size: 8rem;
}


// Variables
$black: #000;
$white: #fff;
$orange: #ff6033;
$gray-blue: #5585a2;
$blue: #355b82;
$green: #96b92c;
$red: #f72b3b;

$color-about: #00b2b2;

$color-services: #70bfff;

$color-gallery: #ffe92f;

$color-blog: #b07cf7;


