.header {
    display: flex;
    flex-direction: column;
    height: 75vh;
    align-items: center;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 8%, rgba(255, 255, 255, 0) 53%, rgba(255, 255, 255, 0) 100%), url(img/bg_header_converted.jpg);
    background-size: cover;
    background-position: 0% 75%;
    padding: 0 20rem;

    @include respond(tab-land) {
        padding: 0rem 1rem 5rem;
    }

    @include respond(tab-port) {
        height: auto;
    }


    &__container {
        max-width: 120rem;
        display: flex;
        margin-top: 15rem;

    }
}

.about {
    background: url(img/bg_about.jpg) 25% 50% no-repeat, $color-about;
    padding: 10rem 20rem;
    display: flex;
    justify-content: center;
    color: $white;

    @include respond(big-desktop) {
        background-position: -10rem;
        padding: 5rem 1rem;
    }

    @include respond(tab-land) {
        background-position: -20rem;
        padding: 5rem 1rem;
    }

    @include respond(tab-mid) {
        background-position: -30rem;
        padding: 5rem 1rem;
    }

    @include respond(tab-port) {
        background-position: -30rem;
        padding: 5rem 1rem;
    }


    &__container {
        width: 120rem;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .wrapper {
        @include respond(tab-port) {
            background-color: rgba($black, .5);
            padding: 5rem;
        }

    }
}

.services {
    background-color: $color-services;
    padding: 10rem 20rem;
    display: flex;
    justify-content: center;

    @include respond(tab-port) {
        padding: 5rem 1rem;
    }

    &__box {
        @include respond(tab-port) {
            order: 2;
        }
    }

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex: 1 120rem;
        max-width: 120rem;

        @include respond(tab-port) {
            flex-direction: column;
        }
    }

    &__title {
        background: url(img/bg_services.jpg) no-repeat;
        max-width: 55rem;
        height: 55rem;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $white;
    }

    & h2 {
        text-shadow: 4px 2px $black;
    }
}

.gallery {
    background-color: $color-gallery;
    padding: 10rem 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: auto;

    @include respond(tab-port) {
        padding: 5rem 1rem;
    }

    & .text {
        max-width: 50rem;
        text-align: center;
    }

    &__container {
        text-align: center;
    }
}

.subscribe {
    padding: 10rem 20rem;
    display: flex;
    justify-content: center;

    background: url(img/bg_subscirbe.jpg) no-repeat center;

    @include respond(tab-land) {
        padding: 5rem 1rem;
    }

    &__container {
        flex: 0 120rem;
    }

    & p {
        max-width: 60rem;
    }
}


.blog {
    padding: 10rem 20rem;
    display: flex;
    justify-content: center;
    color: $white;
    background-color: $color-blog;

    @include respond(tab-land) {
        padding: 1rem;
    }

    &__container {
        max-width: 120rem;
        text-align: center;
    }

    &__posts {
        display: flex;
        justify-content: space-between;
        margin: 2rem 0;

        @include respond(tab-port) {
            flex-direction: column;
            align-items: center;
        }
    }
}

.contact {
    padding: 10rem 20rem;
    display: flex;
    justify-content: center;
    background: url(img/bg_contact.jpg) center/cover no-repeat;

    @include respond(tab-land) {
        padding: 1rem;
    }

    &__container {
        max-width: 120rem;

        @include respond(phone) {
            text-align: center;
        }
    }

    &__panel {
        margin-bottom: 5rem;
        display: flex;
        justify-content: space-between;

        @include respond(tab-land) {
            justify-content: center;
        }

        @include respond(phone) {
            flex-direction: column;
            align-items: center;
        }
    }

}

.footer {
    background-color: #262626;
    color: $white;
    display: flex;
    justify-content: center;
    padding: 10rem 20rem;
    font-size: 2rem;

    @include respond(tab-land) {
        padding: 5rem 1rem;
    }

    &__container {
        flex: 0 120rem;
        display: inherit;
        justify-content: space-between;
    }

    &__element {
        width: 30%;
        text-align: center;
        margin: auto 0;
    }
}

.wrapper {
    flex: 0 1 60rem;
}